<h1>Show Post</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @post.description %>
  </li>

</ul>

<%= if can?(@conn.assigns[:current_user], :update_post, @post) do %>
  <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<% end %>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
